h1 {
  text-align: center;
  margin: 0;
  padding: 10px 0;
  color: #03045e;
}

body {
  background-color: #caf0f8; /* Set the desired background color */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  font-family: Arial, sans-serif; /* Set a default font family if desired */
}

.dotted-line {
  border: none;
  border-top: 2px dotted #948686; /* Change the color and thickness as needed */
  margin: 20px 0; /* Adjust the spacing as needed */
}
.button-section {
  background-color: #66bbcc; /* Set the desired background color */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  font-family: Arial, sans-serif;
}

.button-section button {
  /* Optionally, you can style the buttons themselves */
  color: white; /* Text color of buttons */
  background-color: #0077b6; /* Background color of buttons */
  border: none; /* Remove default border */
  padding: 10px 20px; /* Add padding to buttons */
  margin: 5px; /* Add margin around buttons */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.button-section button:hover {
  background-color: #023e8a; /* Darker background color on hover */
}
